@import 'variables';

.inspection-wrapper {
  position: relative;
  max-width: 700px;
  margin: 6px auto 28px auto;

  .color-green        { color: darken($green, 15%); }
  .color-orange       { color: $orange; }
  .color-dark-orange  { color: $darkorange; }
  .color-red          { color: $red; }
  

  h4 {
    padding: 0.5rem;
    margin-bottom: 0 !important;
    font-size: 20px !important;
    font-weight: bold;
    background: $green;
    color: #000;
    text-align: center;
    border-right: 2px solid darken($green, 15%);
    border-radius: 4px 4px 0px 0px;
  }

  .inspection-details {
    padding: 0.6rem;
    background: $beige;
    border-right: 2px solid darken($beige, 25%);
    border-bottom: 2px solid darken($beige, 30%);
    border-radius: 0px 0px 4px 4px;
  }

  .status-tally {
    margin-bottom: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .severity-tally {
    opacity: 0.9;
    text-align: center;
  }

  .show-details {
    cursor: pointer;
    margin-top: 12px;
    font-weight: bold;
  }

  .inspection-table {
    display: none;
    background: lighten($beige, 15%);
    padding: 0.5rem;
    font-size: 12px;
    margin-top: 16px;

    td {
      padding: 7px 15px;
      border-bottom: 1px solid rgba(0,0,0,0.15);
    }

    th {
      text-align: left;
      padding: 7px 15px;
      font-weight: bold;
      background: lighten($beige, 12%);
      border-bottom: 1px solid darken($beige, 10%);
    }

    .date {
      min-width: 90px;
    }

  }

  .not-yelp-notice {
    margin: 16px 16px 0 16px;
    text-align: center;
    font-size: 11px;
    opacity: 0.75;
  }
}